# Node.js
node_modules/

# Logs
logs
*.log
npm-debug.log*

# Dependency directory
pids
*.pid
*.seed
*.pid.lock

# dotenv environment variable files
.env

# Output of 'npm pack'
*.tgz

# Yarn
yarn-error.log
yarn.lock
